body{
    font-size: 18px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sansserif ;
    margin: 0;
    padding: 0;
}

header {
    grid-area: header;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    color: black;
    font-size: 10px;
    background-color: #D6D6D6;
    margin-bottom: 100px;
}

header img {
    padding-left: 25px;
    width: 55px;
    height: 50px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

input {
    border-radius: 15px;
    width: 300px;
    margin-top: 5px;
}

main img {
    width: 10%;
    margin-bottom: 10px;
}



footer {
    width: 100%;
    position:absolute;
    bottom:0;
    background-color: #9099D4;
    color: white;
}

.error, .error1 {
    color: red;
}